{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>
	    {% block title %}
	        Weather App
	    {% endblock title %}
	</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% block header %}{% endblock header %}
    </head>
    <body>
	{% if user.is_authenticated %}
	<li>
	    <a href="{% url 'auth_logout' %}">Logout</a>
	</li>
	{% else %}
	<li>
	    <a href="{% url 'auth_login' %}">Login</a>
	</li>
	<li>
	    <a href="{% url 'registration_register' %}">Register</a>
	</li>
	{% endif %}
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </body>
</html>

